/* =========== Fonts ============ */
/* =========== Browser Reset ============ */
:root {
  /* Color Variables */
  --primary: #ecb90d;
  --text-1: #0f2341;
  --text-2: #a9a9a9;
}
/* =========== Custom Classes ============ */
/* =========== Navigation ============ */
/* =========== Home ============ */
/* =========== About ============ */
/* ===========  ============ */
